name: Release
on:
  push:
    branches:
      - master
jobs:
  #  dx-scanner:
  #    runs-on: ubuntu-latest
  #    container: dxheroes/dx-scanner:latest
  #    steps:
  #      - uses: actions/checkout@v1
  #      - name: Runs DX Scanner on the code
  #        env:
  #          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  #          DXSCANNER_API_TOKEN: ${{ secrets.DXSCANNER_API_TOKEN }}
  #        run: dx-scanner run --ci
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Set vars
        id: vars
        run: echo ::set-output name=branch_name::${GITHUB_REF#refs/*/}
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build project
        run: yarn build
      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}


